<%- include('partials/header.ejs') %>
<body>
  <%- include('partials/navbar.ejs') %>
  <div class="container">
    <div class="card" id="formulario-pergunta">
      <div class="card-header">
        <h3>Realizar pergunta</h3>
      </div>
      <div class="card-body">
        <form method="POST" action="/salvarpergunta">
          <label class="mb-2" for="">Titulo</label>
          <input
            class="form-control"
            type="text"
            placeholder="Título"
            name="titulo"
          />
          <br /><label class="mb-2" for="">Descrição</label>
          <textarea
            class="form-control mb-3"
            placeholder="Descreva sua pergunta aqui"
            name="descricao"
          ></textarea>
          <button class="btn btn-primary">Perguntar</button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('partials/footer.ejs') %>
